.modalLogin{
    display: none;
    &__form{
        padding: 10px 10px 10px;
        input{
            min-width: 100%;
        }
    }
    
    .modal__header{
        margin: 0;
    }
    .modal__btn{
        margin-top: 20px;
    }
    .modal__content{
        padding: 0;
    }
}