.preloader{
    position: fixed;
    background-color: #090925;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000000000000000;
    &__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 350px;
    }
    &__img{
        width: 200px;
        height: 200px;
    }

        
    
}