.rectangle{
    width: 100%;
    height: 380px;
    left: 0;
    top: -130px;
    position: absolute;
    z-index: 1;
    background: linear-gradient(178deg,rgba(5,13,42,0) 0,#090925 29%);
    mix-blend-mode: normal;
}